{% comment %}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (optional)
  - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
  - show_price: {Boolean} Show the product Price. Default: true
  - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
  - show_quick_add: {Boolean} Show the quick add button.
  - section_id: {String} The ID of the section that contains this card.
  - horizontal_quick_add: {Boolean} Changes the quick add button styles when set to true. Default: false (optional)

  Usage:
  {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}

{{ 'component-rating.css' | asset_url | stylesheet_tag }}
{{ 'component-volume-pricing.css' | asset_url | stylesheet_tag }}
<div class="card-wrapper product-card-wrapper underline-links-hover">
  {% if card_product and card_product != empty %}
    {% assign ratio = 1 %}
    {% if card_product.featured_media %}
      {% assign ratio = card_product.featured_media.aspect_ratio | default: 1 %}
    {% endif %}

    <div class="card card--standard color-light gradient {% if extend_height %}card--extend-height{% endif %}">
      <div class="card__inner ratio" style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;">
        {% if card_product.featured_media %}
          <div class="card__media">
            <div class="media media--transparent media--hover-effect">
              <img
                src="{{ card_product.featured_media | image_url: width: 533 }}"
                alt="{{ card_product.featured_media.alt | escape }}"
                loading="{{ lazy_load | default: true | boolean: 'lazy', 'eager' }}"
                width="{{ card_product.featured_media.width }}"
                height="{{ card_product.featured_media.height }}"
              >
              {% if card_product.media[1] and show_secondary_image %}
                <img
                  src="{{ card_product.media[1] | image_url: width: 533 }}"
                  alt=""
                  loading="{{ lazy_load | default: true | boolean: 'lazy', 'eager' }}"
                  width="{{ card_product.media[1].width }}"
                  height="{{ card_product.media[1].height }}"
                >
              {% endif %}
            </div>
          </div>
        {% endif %}
        <div class="card__content">
          <h3 class="card__heading">
            <a href="{{ card_product.url }}" class="full-unstyled-link">{{ card_product.title | escape }}</a>
          </h3>
          {% if show_price %}
            <div class="product__price">{{ card_product.price | money }}</div>
          {% endif %}
        </div>
      </div>

      {% if show_quick_add %}
        <div class="quick-add">
          {% assign product_form_id = 'quick-add-' | append: section_id | append: card_product.id %}
          {% if card_product.variants.size > 1 %}
            <modal-opener data-modal="#QuickAdd-{{ card_product.id }}">
              <button type="button" class="quick-add__submit button button--secondary">
                {{ 'products.product.choose_options' | t }}
              </button>
            </modal-opener>
          {% else %}
            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="{{ card_product.selected_or_first_available_variant.id }}">
              <button type="submit" class="quick-add__submit button button--secondary">
                {{
                  card_product.selected_or_first_available_variant.available
                  | default: false
                  | boolean: 'Add to Cart', 'Sold Out'
                }}
              </button>
            </form>
          {% endif %}
        </div>
      {% endif %}
    </div>
  {% else %}
    <div class="card card--standard color-light gradient">
      <div class="card__inner ratio" style="--ratio-percent: 100%;">
        <div class="card__media">
          <div class="media media--transparent">
            {{ 'placeholder.svg' | placeholder_svg_tag: 'placeholder-svg' }}
          </div>
        </div>
        <div class="card__content">
          <h3 class="card__heading">
            <a class="full-unstyled-link">{{ 'Product Title' }}</a>
          </h3>
          <div class="product__price">{{ 'Price' }}</div>
        </div>
      </div>
    </div>
  {% endif %}
</div>
